n8n_workflows/application_engine.json
{
    "name": "Application Engine",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 2 * * *"
                        }
                    ]
                }
            },
            "id": "cron-trigger",
            "name": "2AM Nightly Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "operation": "read",
                "documentId": {
                    "__rl": true,
                    "value": "1pdy5cOsX0HWSKD7MX1YzkGSxAl0DEn69iYPSYPI9kZ0",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "Queue",
                    "mode": "name"
                },
                "filters": {
                    "column": "Status",
                    "value": "Queued"
                },
                "options": {}
            },
            "id": "sheets-read",
            "name": "Read Job Queue",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                500,
                300
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "REPLACE_WITH_YOUR_SHEETS_CREDENTIAL_ID",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "loop-items",
            "name": "Loop Over Jobs",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                750,
                300
            ]
        },
        {
            "parameters": {
                "command": "=cd /root/OpenClaw-Applicant-Bot && source venv/bin/activate && python apply_agent.py \"{{ $json.Job_URL }}\"",
                "options": {
                    "timeout": 120000
                }
            },
            "id": "exec-agent",
            "name": "Run Apply Agent",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                1000,
                200
            ]
        },
        {
            "parameters": {
                "jsCode": "// Parse the ANALYSIS_JSON line from stdout\nconst stdout = $input.first().json.stdout || '';\nconst lines = stdout.split('\\n');\nlet analysis = {};\n\nfor (const line of lines) {\n  if (line.startsWith('ANALYSIS_JSON::')) {\n    try {\n      analysis = JSON.parse(line.replace('ANALYSIS_JSON::', ''));\n    } catch (e) {\n      analysis = {};\n    }\n  }\n}\n\nreturn [{\n  json: {\n    exitCode: $input.first().json.exitCode,\n    Company: analysis.Company || 'Unknown',\n    Role: analysis.Role || 'Unknown',\n    ATS_System: analysis.ATS_System || 'Unknown',\n    visa_eligible: analysis.visa_eligible !== false,\n    Visa_Required: analysis.Visa_Required || 'No',\n    company_tier: analysis.company_tier || 'Standard',\n    Target_Keywords: (analysis.Target_Keywords || []).join(', '),\n    Match_Score: analysis.Match_Score || 0,\n    Job_URL: $input.first().json.Job_URL || ''\n  }\n}];"
            },
            "id": "parse-analysis",
            "name": "Parse Analysis JSON",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1200,
                200
            ]
        },
        {
            "parameters": {
                "dataType": "number",
                "value1": "={{ $json.exitCode }}",
                "rules": {
                    "rules": [
                        {
                            "value2": 0,
                            "output": 0
                        },
                        {
                            "value2": 2,
                            "output": 1
                        },
                        {
                            "value2": 3,
                            "output": 2
                        },
                        {
                            "value2": 1,
                            "output": 3
                        }
                    ]
                }
            },
            "id": "switch-routing",
            "name": "Match Routing",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                1450,
                200
            ]
        },
        {
            "parameters": {
                "chatId": "5876085554",
                "text": "=🔔 **HIGH-TIER APPLICATION PAUSED**\n\n🏢 **{{ $json.Company }}** — {{ $json.Role }}\n📊 Match Score: {{ $json.Match_Score }}/10\n🔑 Keywords: {{ $json.Target_Keywords }}\n🌐 ATS: {{ $json.ATS_System }}\n🔗 {{ $json.Job_URL }}\n\nReply /approve to submit, or /skip to pass.",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "id": "telegram-notify",
            "name": "Telegram Alert",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1700,
                100
            ],
            "credentials": {
                "telegramApi": {
                    "id": "REPLACE_WITH_YOUR_TELEGRAM_CREDENTIAL_ID",
                    "name": "Telegram Bot"
                }
            }
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "__rl": true,
                    "value": "1pdy5cOsX0HWSKD7MX1YzkGSxAl0DEn69iYPSYPI9kZ0",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "Queue",
                    "mode": "name"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Status": "={{ $json.exitCode === 0 ? 'Applied' : $json.exitCode === 2 ? 'Pending Approval' : $json.exitCode === 3 ? 'Skipped' : 'Failed' }}",
                        "Company": "={{ $json.Company }}",
                        "Role": "={{ $json.Role }}",
                        "ATS_System": "={{ $json.ATS_System }}",
                        "Visa_Required": "={{ $json.Visa_Required }}",
                        "Target_Keywords": "={{ $json.Target_Keywords }}",
                        "Match_Score": "={{ $json.Match_Score }}",
                        "Date_Applied": "={{ $json.exitCode === 0 ? $now : '' }}"
                    }
                },
                "options": {}
            },
            "id": "sheets-update",
            "name": "Update Queue Row",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                1950,
                300
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "REPLACE_WITH_YOUR_SHEETS_CREDENTIAL_ID",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "value": 15000,
                "unit": "milliseconds"
            },
            "id": "wait-between",
            "name": "Cooldown (15s)",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                2200,
                200
            ]
        }
    ],
    "connections": {
        "2AM Nightly Trigger": {
            "main": [
                [
                    {
                        "node": "Read Job Queue",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Job Queue": {
            "main": [
                [
                    {
                        "node": "Loop Over Jobs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Over Jobs": {
            "main": [
                [
                    {
                        "node": "Run Apply Agent",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Update Queue Row",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Run Apply Agent": {
            "main": [
                [
                    {
                        "node": "Parse Analysis JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Analysis JSON": {
            "main": [
                [
                    {
                        "node": "Match Routing",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Match Routing": {
            "main": [
                [
                    {
                        "node": "Update Queue Row",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Telegram Alert",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Update Queue Row",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Update Queue Row",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Telegram Alert": {
            "main": [
                [
                    {
                        "node": "Update Queue Row",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Queue Row": {
            "main": [
                [
                    {
                        "node": "Cooldown (15s)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Cooldown (15s)": {
            "main": [
                [
                    {
                        "node": "Loop Over Jobs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}