n8n_workflows/inbox_backtracker.json
{
    "name": "Inbox Backtracker",
    "nodes": [
        {
            "parameters": {
                "pollTimes": {
                    "item": [
                        {
                            "mode": "everyHour"
                        }
                    ]
                },
                "filters": {
                    "readStatus": "unread",
                    "receivedAfter": "={{ $now.minus(1, 'hour').toISO() }}"
                },
                "options": {
                    "searchString": "subject:(thank you for applying OR application received OR application submitted OR thank you for your interest)"
                }
            },
            "id": "gmail-trigger",
            "name": "Gmail Trigger",
            "type": "n8n-nodes-base.gmailTrigger",
            "typeVersion": 1.2,
            "position": [
                250,
                300
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "REPLACE_WITH_YOUR_GMAIL_CREDENTIAL_ID",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// ─── Gmail \"Application Received\" Email Parser ───\n\nconst emailBody = $input.first().json.text || $input.first().json.body || $input.first().json.snippet || \"\";\nconst emailSubject = $input.first().json.subject || \"\";\n\n// Regex Patterns\nconst applyPattern1 = /(?:thank you for (?:your )?(?:application|applying|interest))\\s+(?:to|for|at)\\s+(?:the\\s+)?(.+?)\\s+(?:position|role|opportunity)?\\s*(?:at|with)\\s+(.+?)[\\.\\!\\,\\n]/i;\nconst subjectPattern = /(.+?)\\s+(?:at|with|-)\\s+(.+)/i;\nconst applyPattern2 = /application\\s+(?:for|to)\\s+(?:the\\s+)?(.+?)(?:\\s+at\\s+|\\s+with\\s+)(.+?)[\\.\\!\\,\\n]/i;\nconst companyOnlyPattern = /(?:application|applying)\\s+(?:to|at|with)\\s+(.+?)[\\.\\!\\,\\n]/i;\nconst rolePattern = /(?:position|role|opening)(?:\\s*:\\s*|\\s+(?:of|for)\\s+)(.+?)[\\.\\!\\,\\n]/i;\nconst locationPatterns = [\n  /(?:location|office|based in|located in)(?:\\s*:\\s*|\\s+)([A-Za-z\\s]+,\\s*[A-Z]{2})/i,\n  /(?:location|office|based in|located in)(?:\\s*:\\s*|\\s+)([A-Za-z\\s]+,\\s*[A-Za-z\\s]+)/i,\n  /([A-Za-z\\s]+,\\s*[A-Z]{2})\\s+(?:office|location|area)/i,\n  /(?:remote|hybrid|on-site|onsite)/i,\n];\n\nlet company = \"Unknown\";\nlet role = \"Unknown\";\nlet location = \"Not Specified\";\n\nconst subjectMatch = emailSubject.match(subjectPattern);\nif (subjectMatch) {\n  role = subjectMatch[1].trim();\n  company = subjectMatch[2].trim();\n}\n\nif (company === \"Unknown\" || role === \"Unknown\") {\n  const bodyMatch1 = emailBody.match(applyPattern1);\n  if (bodyMatch1) {\n    role = bodyMatch1[1].trim();\n    company = bodyMatch1[2].trim();\n  }\n}\n\nif (company === \"Unknown\" || role === \"Unknown\") {\n  const bodyMatch2 = emailBody.match(applyPattern2);\n  if (bodyMatch2) {\n    role = bodyMatch2[1].trim();\n    company = bodyMatch2[2].trim();\n  }\n}\n\nif (company === \"Unknown\") {\n  const companyMatch = emailBody.match(companyOnlyPattern);\n  if (companyMatch) company = companyMatch[1].trim();\n}\n\nif (role === \"Unknown\") {\n  const roleMatch = emailBody.match(rolePattern);\n  if (roleMatch) role = roleMatch[1].trim();\n}\n\nfor (const pattern of locationPatterns) {\n  const locationMatch = emailBody.match(pattern);\n  if (locationMatch) {\n    location = locationMatch[1] ? locationMatch[1].trim() : locationMatch[0].trim();\n    break;\n  }\n}\n\ncompany = company.replace(/[.!,;:]+$/, \"\").replace(/\\s+(team|inc|llc|corp)\\.?$/i, \" $1\").trim();\nrole = role.replace(/[.!,;:]+$/, \"\").trim();\nif (company.length > 100) company = company.substring(0, 100).trim();\nif (role.length > 100) role = role.substring(0, 100).trim();\n\nreturn [{\n  json: {\n    Company: company,\n    Role: role,\n    Location: location,\n    Source_Email_Subject: emailSubject.substring(0, 200),\n    Parsed_At: new Date().toISOString(),\n    Status: \"Applied\",\n  }\n}];"
            },
            "id": "code-parser",
            "name": "Parse Email",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "REPLACE_WITH_YOUR_SHEET_ID",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "Sheet1",
                    "mode": "name"
                },
                "columns": {
                    "mappingMode": "autoMapInputData",
                    "value": {}
                },
                "options": {}
            },
            "id": "sheets-append",
            "name": "Log to Tracker",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                750,
                300
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "REPLACE_WITH_YOUR_SHEETS_CREDENTIAL_ID",
                    "name": "Google Sheets account"
                }
            }
        }
    ],
    "connections": {
        "Gmail Trigger": {
            "main": [
                [
                    {
                        "node": "Parse Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Email": {
            "main": [
                [
                    {
                        "node": "Log to Tracker",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "meta": {
        "templateCredsSetupCompleted": true
    }
}